body {
    background-color: #B431B6;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(180deg, #E54AE8 36.25%, rgba(229, 74, 232, 0) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.logo img {
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    font-family: 'Jockey One', sans-serif;
    color: white;
    padding: 10px 20px;
    transition: all 0.3s ease;
    border-radius: 20px;
    padding: 10px 20px;
}

nav a:hover {
    background: white;
    color: #EABF33;
}

.user-button {
    margin-left: 20px;
}

.login-button {
    background: #6C106D;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
    border-radius: 20px;
    padding: 10px 20px;
}

.login-button:hover {
    background: white;
    color: #EABF33;
}

.cart-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: linear-gradient(180deg, #E54AE8 36.25%, rgba(229, 74, 232, 0) 100%);;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 24px;
    color: white;
}

.cart-items {
    list-style: none;
    padding: 0;
}

.cart-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
    border-radius: 5px;
    padding: 10px;
    background-color: #d724da;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: white;
}

.cart-item img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
}

.item-details {
    flex: 1;
}

.quantity {
    display: flex;
    align-items: center;
}

.quantity-button {
    background-color: #6C106D;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
    margin: 0 5px;
    transition: all 0.3s ease;
}

.quantity-value {
    font-size: 16px;
    font-weight: bold;
}

.quantity-input {
    width: 25px; 
    height: 20px;
    text-align: center;
}

.remove-button {
    background-color: #6C106D;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
    margin-left: auto;
    transition: all 0.3s ease;
}

.cart-total {
    text-align: right;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.checkout-button {
    background-color: #6C106D;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto 0;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.checkout-button:hover {
    background: white;
    color: #EABF33;
}

.quantity-button:hover {
    background: white;
    color: #EABF33;
}

.remove-button:hover {
    background: white;
    color: #EABF33;
}

.footer {
    background-color: #d411ea;
    width: 1266px;
    height: 84px;
    margin: 0 auto;
    text-align: center;
    padding-top: 0px;
    border-radius: 15px;
    padding: 7px;
}

.footer-images img {
    margin: 25px 85px; 
}


.footer-2 {
    background-color: #b442e7;
    width: 1266px;
    height: 84px;
    margin: 0 auto;
    text-align: center;
    padding-top: 0px;
    border-radius: 15px;
    padding: 7px
}

.footer-2 img {
padding-top: 18px;
  margin-right: 85px;
}

.footer-2 input[type="email"] {
    width: 20%;
    height: 30px;
    margin-left: 100px;
    border: none;
    border-radius: 20px;
    padding: 5px;
    font-size: 16px;
    background: white;
    color: #CD3EFF;
}

.inscricao-button {
    background-color: #292D32;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #7F0094;
    color: #ffffff;
    width: 1266px;
    height: 207px;
    margin: 0 auto;
    text-align: center;
    padding-top: 0px;
    border-radius: 15px;
    padding: 7px
}

.footer-content img {
    margin: 5px; 
}

.footer-content p {
    font-size: 12px;
    margin-left: 20px;
    margin-right: 30px;
    text-align: left;
    flex: 1;
}

.footer-content ul {
    text-align: left;
    flex: 1;
    list-style: none;
    padding: 0;
    margin: 10px;
}

.footer-content ul li {
    font-size: 12px;
    margin-bottom: 10px;
}

.line1 {
    position: absolute;
    width: 1140px;
    height: 0px;
    left: 104px;
    top: 1440px;
    border: 1px solid rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 10px;
  }

