@font-face {
    font-family: 'JockeyOne';
    src: url('../fonts/JockeyOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
 }
 
 @font-face {
    font-family: 'Jomhuria';
    src: url('../fonts/Jomhuria-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
 }
 
 @font-face {
    font-family: 'Arapey';
    src: url('../fonts/Arapey-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
 }
 
 @font-face {
    font-family: 'Jolly';
    src: url('../fonts/JollyLodger-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
   }


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #B431B6;
    color: #ffffff
    
}




.menu-container {

   width: 100%;
   max-width: 1920px;
   height: 100%;
   max-height: 80px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   background-image: linear-gradient(#E54AE8, 60%, transparent);

}

.logo {

   width: 100%;
   max-width: 200px;
   height: 100%;
   max-height: auto;
   display: flex;
   justify-content: center;
   align-items: center;

}

.logo img {

   width: 100%;
   max-width: 50px;
   height: 100%;
   max-height: 60px;
   display: flex;

}

.logo-name {
   display: flex;
   font-size: 20px;
   font-family: 'JockeyOne';
   color: #6C106D;
   text-shadow:
      -1px -1px 0 white,
      1px -1px 0 white,
      -1px 1px 0 white,
      1px 1px 0 white;
}

ul {

   width: 100%;
   max-width: 400px;
   height: auto;
   max-height: 80px;
   list-style-type: none;
   display: flex;
   justify-content: space-evenly;
   align-items: center;

}



ul li {

   margin: 10px 10px 10px 10px;

}

ul li a {

   color: white;
   text-decoration: none;
   font-family: 'JockeyOne';
   font-size: 20px;

}

.btn-login-subscribe {
   display: inline-block;
   width: 100%;
   max-width: 180px;
   height: 50px;
   background-color: #EE921C;
   border-radius: 30px;
   justify-content: center;
   align-items: center;
   margin: 5px 5px 5px 5px;
   box-shadow: 6px 6px 6px 2px rgba(125, 1, 128, 1.5);

}

.btn-login-subscribe p {

   font-family: 'JockeyOne';
   font-size: 20px;
   display: center;
   justify-content: center;
   text-align: center;
   margin-top: 9px;
}

.btn-login-subscribe p a {

   text-decoration: none;
   color: white;

}

#subscribe-box {
   display: none;
   position: fixed;
   justify-content: center;
   align-items: center;
   width: 250px;
   height: 135px;
   background-color: #300138;
   border-radius: 30px;
   top: 70px;
   left: 74.2%;
}

.login {
   justify-content: center;
   align-items: center;
   display: flex;
   text-align: center;
}

.login button {
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: 'JockeyOne';
   width: 200px;
   height: 50px;
   border-radius: 10px;
   position: fixed;
   top: 95px;
   left: 75.5%;
   background-color: #d325f1;
   text-decoration: none;
   box-shadow: none;
   border: 1px solid #d325f1;
   font-size: 20px;
   
}

.login p {
   display: inline;
   color: white;
   font-family: 'Jomhuria';
   font-size: 25px;
   margin-right: 5px;
   position: fixed;
   top: 170px;
   left: 75.8%;
}

.login .entrar-but {
   text-decoration: none;
   color: white;
   border-radius: 10px;
   width: 80px;
   text-align: center;
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.login .criar-account {
   display: flex;
   position: relative;
   top: 101px;
   left: 85%;
   text-decoration: none;
   color: rgb(255, 3, 255);
   font-family: 'jomhuria';
   font-size: 25px;
}

 footer {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 
 }
 
 .information-work {
 
    display: flex;
    width: 1080px;
    height: 84px;
    background-color: #CD3EFF;
    border-radius: 30px;
    margin-top: 20px;
    font-family: 'JockeyOne';
    color: #292D32;
 
 }
 
 .space {
 
    width: 220px;
    height: 40px;
    display: flex;
    margin-left: 50px;
    margin-top: 20px;
 }
 
 
 .image-container {
 
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 .image-container1 {
 
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 .image-container1 img {
    width: 70px;
    height: auto;
    margin-bottom: 14px;
 }
 
 .image-container img {
 
    width: 50px;
    height: auto;
 
 }
 
 .text-entregas1 {
 
    display: flex;
    align-items: center;
    margin-right: 20px;
 
 }
 
 .text-entregas2 {
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-left: -9px;
    margin-top: 2px;
 }
 
 .newslleter {
 
    display: flex;
    width: 1080px;
    height: 84px;
    background-color: #B242E7;
    border-radius: 30px;
 
 }
 
 .newslleter img {
 
    position: relative;
    width: 75px;
    height: auto;
    display: flex;
    margin-left: 35px;
    left: 20px;
 
 }
 
 .newslleter .text-email {
 
    position: relative;
    color: #292D32;
    font-family: 'JockeyOne';
    justify-content: center;
    align-items: center;
    width: 202px;
    height: 50px;
    margin-top: 20px;
    text-align: center;
    left: 20px;
 
 }
 
 .newslleter .barra-divisão {
 
    position: relative;
    width: 2px;
    height: 45px;
    background-color: #292D32;
    align-items: center;
    justify-content: center;
    left: 40px;
    top: 18px;
 
 }
 
 .text-news {
 
    position: relative;
    color: #292D32;
    font-family: 'JockeyOne';
    left: 10%;
    top: 21px;
 
 }
 
 .formulario {
 
    position: relative;
    top: 30px;
    left: 140px;
    text-align: center;
 
 }
 
 .formulario input[type="email"] {
 
    width: 300px;
    padding: 8px;
    border-radius: 30px;
    border: 1px solid white;
    text-align: left;
 
 }
 
 .formulario button {
 
    position: relative;
    padding: 2px 2px;
    border-radius: 30px;
    border: 1px solid #292d32;
    width: 90px;
    background-color: #292D32;
    color: white;
    font-family: 'JockeyOne';
    text-align: center;
    align-items: center;
    justify-content: center;
    right: 50px;
 }
 
 .work-info {
 
    display: flex;
    width: 1080px;
    height: 177px;
    background-color: #7F0094;
    border-radius: 30px;
 }
 
 .logo-insta {
 
    width: 70px;
    height: 70px;
    display: flex;
    margin-top: 5%;
 }
 
 .cicle1 {
    width: 120px;
    height: 90px;
    display: inline-block;
    justify-content: space-around;
    align-items: right;
    margin-top: 20px;
    margin-left: 40px;
 }
 
 .name_space {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 25px;
 }
 
 .name_space h1 {
    font-family: 'JockeyOne';
    color: #e4a546;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow:
       -1px -1px 0 white,
       1px -1px 0 white,
       -1px 1px 0 white,
       1px 1px 0 white;
 }
 
 .cicle1 img {
    margin-left: 40px;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    display: flex;
 
 }
 
 .text-reserved {
    font-family: 'JockeyOne';
    font-size: 20px;
    color: #300138;
 }

 .mobile-image {
    position: fixed;
    bottom: 50px;
    right: 100px;
    width: 50px; 
    height: auto;
    cursor: pointer;
    transition: transform 1.0s ease-in-out;
    z-index: 999;
    
}

.mobile-image:hover {
    transform: scale(3.9); 
}
h1{
    text-align: center;
    
}

.cards-01{
    text-align: center;
}



.container-carousel1 {
    width: 27%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    
}

.faixa-carousel1 {
    display: flex;
    transition: transform 1.5s ease-in-out;
}

.container-carousel2 {
   width: 27%;
   margin: 0 auto;
   overflow: hidden;
   position: relative;
   
}

.faixa-carousel2 {
   display: flex;
   transition: transform 1.5s ease-in-out;
}

.container-carousel3 {
   width: 27%;
   margin: 0 auto;
   overflow: hidden;
   position: relative;
   
}

.faixa-carousel3 {
   display: flex;
   transition: transform 1.5s ease-in-out;
}


.slide-carousel1 {
    width: 100%;
}
.slide-carousel2 {
   width: 100%;
}
.slide-carousel3 {
   width: 100%;
}
.button-image {
    width: 50px; 
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;

    
}

.button-image:hover {
   transform: scale(1.2);
   filter: brightness(1.5);
}
#interacao1{
 display: flex;
 justify-content: space-between;
}

#interacao2{
   display: flex;
   justify-content: space-between;
  }
  #interacao3{
   display: flex;
   justify-content: space-between;
  }

.coracao {
    font-size: 22px;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
  
    
  }
  
  .coracao:hover {
   color: red;
}

.popup-container {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
}

.popup-content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: #EE921C;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup-close {
   position: absolute;
   top: 10px;
   right: 10px;
   font-size: 24px;
   cursor: pointer;
   color: #555;

}

.popup-buttons {
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
}

.popup-buttons button {
   padding: 10px;
   background-color: #6C106D;
   color: #ffffff;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   
}

.popup-buttons button:hover {
   background-color: #4A0B4F;
}

/* footer */

footer {

   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;

}

.information-work {

   display: flex;
   width: 1080px;
   height: 84px;
   background-color: #CD3EFF;
   border-radius: 30px;
   margin-top: 20px;
   font-family: 'JockeyOne';
   color: #292D32;

}

.space {

   width: 220px;
   height: 40px;
   display: flex;
   margin-left: 50px;
   margin-top: 20px;
}


.image-container {

   display: flex;
   align-items: center;
   justify-content: center;
}

.image-container1 {

   display: flex;
   align-items: center;
   justify-content: center;
}

.image-container1 img {
   width: 70px;
   height: auto;
   margin-bottom: 14px;
}

.image-container img {

   width: 50px;
   height: auto;

}

.text-entregas1 {

   display: flex;
   align-items: center;
   margin-right: 20px;

}

.text-entregas2 {
   display: flex;
   align-items: center;
   margin-right: 5px;
   margin-left: -9px;
   margin-top: 2px;
}

.newslleter {

   display: flex;
   width: 1080px;
   height: 84px;
   background-color: #B242E7;
   border-radius: 30px;

}

.newslleter img {

   position: relative;
   width: 75px;
   height: auto;
   display: flex;
   margin-left: 35px;
   left: 20px;

}

.newslleter .text-email {

   position: relative;
   color: #292D32;
   font-family: 'JockeyOne';
   justify-content: center;
   align-items: center;
   width: 202px;
   height: 50px;
   margin-top: 20px;
   text-align: center;
   left: 20px;

}

.newslleter .barra-divisão {

   position: relative;
   width: 2px;
   height: 45px;
   background-color: #292D32;
   align-items: center;
   justify-content: center;
   left: 40px;
   top: 18px;

}

.text-news {

   position: relative;
   color: #292D32;
   font-family: 'JockeyOne';
   left: 10%;
   top: 21px;

}

.formulario {

   position: relative;
   top: 30px;
   left: 140px;
   text-align: center;

}

.formulario input[type="email"] {

   width: 300px;
   padding: 8px;
   border-radius: 30px;
   border: 1px solid white;
   text-align: left;

}

.formulario button {

   position: relative;
   padding: 2px 2px;
   border-radius: 30px;
   cursor: pointer;
   border: 1px solid #292d32;
   width: 90px;
   background-color: #292D32;
   color: white;
   font-family: 'JockeyOne';
   text-align: center;
   align-items: center;
   justify-content: center;
   right: 50px;
}

.mensagem {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translateX(-50%);
   background-color: #300138;
   color: white;
   padding: 15px;
   border-radius: 5px;
   display: none;
}

.work-info {

   display: flex;
   width: 1080px;
   height: 177px;
   background-color: #7F0094;
   border-radius: 30px;
}

.logo-insta {

   width: 70px;
   height: 70px;
   display: flex;
   margin-top: 5%;
}

.cicle1 {
   width: 120px;
   height: 90px;
   display: inline-block;
   justify-content: space-around;
   align-items: right;
   margin-top: 20px;
   margin-left: 40px;
}

.name_space {
   width: 150px;
   height: 40px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   margin-top: 25px;
}

.name_space h1 {
   font-family: 'JockeyOne';
   color: #e4a546;
   display: flex;
   justify-content: center;
   align-items: center;
   text-shadow:
      -1px -1px 0 white,
      1px -1px 0 white,
      -1px 1px 0 white,
      1px 1px 0 white;
}

.cicle1 img {
   margin-left: 40px;
   border-radius: 50px;
   width: 70px;
   height: 70px;
   display: flex;

}

.text-reserved {
   font-family: 'JockeyOne';
   font-size: 20px;
   color: #300138;
}