body {
    background-color: #B431B6;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'JockeyOne';
    src: url('../fonts/JockeyOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Jomhuria';
    src: url('../fonts/Jomhuria-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Arapey';
    src: url('../fonts/Arapey-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Jolly';
    src: url('../fonts/JollyLodger-Regular.ttf') format('truetype');
}

.menu-container {

    width: 100%;
    max-width: 1920px;
    height: 100%;
    max-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: linear-gradient(#E54AE8, 60%, transparent);

}

.logo {

    width: 100%;
    max-width: 200px;
    height: 100%;
    max-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo img {

    width: 100%;
    max-width: 50px;
    height: 100%;
    max-height: 60px;
    display: flex;

}

.logo-name {
    display: flex;
    font-size: 20px;
    font-family: 'JockeyOne';
    color: #6C106D;
    text-shadow:
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
}

ul {

    width: 100%;
    max-width: 400px;
    height: auto;
    max-height: 80px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}



ul li {

    margin: 10px 10px 10px 10px;

}

ul li a {

    color: white;
    text-decoration: none;
    font-family: 'JockeyOne';
    font-size: 20px;

}

.btn-login-subscribe {

    width: 100%;
    max-width: 180px;
    height: 50px;
    background-color: #EE921C;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    margin: 5px 5px 5px 5px;
    box-shadow: 6px 6px 6px 2px rgba(125, 1, 128, 1.5);

}

.btn-login-subscribe p {

    font-family: 'JockeyOne';
    font-size: 20px;
    display: center;
    justify-content: center;
    text-align: center;
    margin-top: 9px;
}

.btn-login-subscribe p a {

    text-decoration: none;
    color: white;

}

#subscribe-box {

    top: 80px;
    left: 75%;
    display: none;
    position: absolute;
    background-color: #2d012e;
    padding: 20px;
    border-radius: 30px;
    width: 200px;
    height: 200px;
    transition: 0.5s ease-in-out;

}

#subscribe-box p {
    text-align: center;
    color: white;
    font-family: 'jomhuria';
    font-size: 30px;
}

#subscribe-box input {
    width: 190px;
    box-shadow: none;
    border-radius: 20px;
    border: 1px solid white;
    margin-bottom: 5px;
    padding: 5px;
}

#subscribe-box button {
    display: flex;
    margin-left: 60%;
}

.banner {
    display: flex;
    width: 100%;
    max-width: 1080px;
    height: 230px;
    margin: 30px auto;
    border-radius: 30px;
    background-image: linear-gradient(transparent, 55%, #E9BC37, #E9BC37);
}

.sub-menu {
    display: flex;
    width: 120px;
    height: 30px;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
    margin-top: 2%;
}

.sub-menu h6 {
    font-family: 'JockeyOne';
    color: white;
    text-align: center;
    margin: 0;
}

.sub-menu a {
    align-items: center;
    text-decoration: none;
    color: #6C106D;
    text-shadow:
        -1px -1px 0 #FDF106,
        1px -1px 0 #FDF106,
        -1px 1px 0 #FDF106,
        1px 1px 0 #FDF106;
    margin: 0;
}

.sub-menu span {
    color: #FDF106;
    margin: 0 10px;
}

.img-cachorro {
    display: flex;
    width: 700px;
    height: 200px;
    align-items: center;
    justify-content: center;
}

.img-cachorro img {
    width: 140px;
    display: flex;
}

.img-cachorro .dog-2 {
    display: flex;
    transform: scaleX(-1);
}

.img-cachorro h1 {
    font-family: 'JockeyOne';
    color: #FDF106;
    text-shadow:
        -2px -2px 0 #6C106D,
        2px -2px 0 #6C106D,
        -2px 2px 0 #6C106D,
        2px 2px 0 #6C106D;
    text-align: center;
}

.custom-select {
    position: relative;
    display: inline-block;
}

.select-trigger {
    background: #EABF33;
    font-family: 'JockeyOne';
    color: white;
    font-size: 15px;
    border-radius: 10px;
    padding: 7px;
    cursor: pointer;
}

.select-options {
    display: none;
    position: absolute;
    background: #EABF33;
    list-style: none;
    padding: 0;
    margin-top: 2px;
    border-radius: 10px;
}

.select-options li {
    cursor: pointer;
    color: white;
    font-family: 'JockeyOne';
}

.custom-select.active .select-options {
    display: block;
}


.content {
    margin-top: 90px;

}

.items {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    font-family: 'JockeyOne';
    color: white;
    font-size: 25px;
}

.smaller-font {
    font-size: 20px;
    color: white;
    margin-left: 90px;
    font-family: 'JockeyOne';
    margin-right: 20px;

}

.item1 {
    width: 150px;
    border: 2px solid red;
}

.select {
    text-align: center;
    background: #EABF33;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    padding: 7px;
    font-family: 'JockeyOne';
    width: 150px;
    height: 35px;
}

.select:hover {
    background: white;
    color: #EABF33;
    transition: all 0.3s ease;
}

.sidebar {
    height: 100px;
    float: left;
    width: 200px;
    padding: 20px;
    border: 2px solid red;
    flex-wrap: wrap;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar {
    position: relative;
    width: 120px;
    color: #fff;
    padding: 20px;
    margin-top: 100px;
}

.section {
    position: relative;
    font-family: 'JetBrains Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 10px;
}



.line3,
.line4 {
    border: 1px solid rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 10px;
}


.section span {
    display: block;
    margin-top: 5px;
    text-align: center;
}

.product-containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px;
    text-align: center;
    transition: all 0.5s ease;
}

.product {
    width: 174px;
    height: 294px;
    margin: 39px;
    text-align: center;
    position: relative;
    border-radius: 10px;
    border-radius: 30px 30px 10px 10px;
    background-image: linear-gradient(transparent, 70%, #FFFFFF);
    box-shadow:
        -2px -2px 0 #FFFFFF,
        2px -1px #FFFFFF;
}

.product img {
    display: flex;
    width: 140px;
    height: auto;
    transform: scaleX(-1) rotate(0deg);
    margin-top: 20px;
    margin-left: 12px;
}

.barra-baixo-item {
    display: flex;
    margin-left: 42px;
    width: 90px;
    height: 2px;
    margin-top: 2px;
    background-color: rgba(70, 69, 69, 0.39);
}

.product-info {
    flex-wrap: wrap;
    column-fill: balance;
    display: flex;
    color: black;
    font-family: 'JockeyOne';
    justify-content: center;
    align-items: center;
}

.value1 {
    font-size: 12px;
    width: 190px;
}

.value2 {

    font-family: 'jomhuria';
    font-size: 30px;
    margin-top: -5px;
    margin-right: 40px;
    display: flex;
    justify-content: center;
    width: 90px;
    height: 30px;

}

.quanti {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 20px;
    margin-top: 30px;
    margin-right: -4px;
}

.quanti span {
    margin-top: 20px;

}

button {
    margin-top: 20px;
    font: 10px;
    background: transparent;
    color: black;
    border: none;
    cursor: pointer;
}

#quantidade {
    font-size: 10px;
}


.add-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 28px;
    background: #FD88FF;
    color: black;
    font-family: 'jomhuria';
    border: none;
    border-radius: 20px;
    margin-top: -20px;
    margin-left: 90px;
    font-size: 15px;
}

.add-to-cart p {
    display: flex;
    top: -20px;
    text-align: center;
    justify-content: center;
}

.pagination {
    text-align: center;
    margin: 30px;
    margin-left: 190px;
}

.pagination a {
    display: inline-block;
    margin: 0 25px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    transition: color 0.3s;
}

.pagination a:hover {
    color: #6C106D;
}

.prev,
.next {
    font-size: 24px;
}

.page {
    font-size: 20px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    line-height: 32px;
}

.page:hover {
    background: #EABF33;
    color: white;
}



footer {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 
 }
 
 .information-work {
 
    display: flex;
    width: 1080px;
    height: 84px;
    background-color: #CD3EFF;
    border-radius: 30px;
    margin-top: 20px;
    font-family: 'JockeyOne';
    color: #292D32;
 
 }
 
 .space {
 
    width: 220px;
    height: 40px;
    display: flex;
    margin-left: 50px;
    margin-top: 20px;
 }
 
 
 .image-container {
 
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 .image-container1 {
 
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 .image-container1 img {
    width: 70px;
    height: auto;
    margin-bottom: 14px;
 }
 
 .image-container img {
 
    width: 50px;
    height: auto;
 
 }
 
 .text-entregas1 {
 
    display: flex;
    align-items: center;
    margin-right: 20px;
 
 }
 
 .text-entregas2 {
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-left: -9px;
    margin-top: 2px;
 }
 
 .newslleter {
 
    display: flex;
    width: 1080px;
    height: 84px;
    background-color: #B242E7;
    border-radius: 30px;
 
 }
 
 .newslleter img {
 
    position: relative;
    width: 75px;
    height: auto;
    display: flex;
    margin-left: 35px;
    left: 20px;
 
 }
 
 .newslleter .text-email {
 
    position: relative;
    color: #292D32;
    font-family: 'JockeyOne';
    justify-content: center;
    align-items: center;
    width: 202px;
    height: 50px;
    margin-top: 20px;
    text-align: center;
    left: 20px;
 
 }
 
 .newslleter .barra-divisão {
 
    position: relative;
    width: 2px;
    height: 45px;
    background-color: #292D32;
    align-items: center;
    justify-content: center;
    left: 40px;
    top: 18px;
 
 }
 
 .text-news {
 
    position: relative;
    color: #292D32;
    font-family: 'JockeyOne';
    left: 10%;
    top: 21px;
 
 }
 
 .formulario {
 
    position: relative;
    top: 30px;
    left: 140px;
    text-align: center;
 
 }
 
 .formulario input[type="email"] {
 
    width: 300px;
    padding: 8px;
    border-radius: 30px;
    border: 1px solid white;
    text-align: left;
 
 }
 
 .formulario button {
 
    position: relative;
    padding: 2px 2px;
    border-radius: 30px;
    border: 1px solid #292d32;
    width: 90px;
    background-color: #292D32;
    color: white;
    font-family: 'JockeyOne';
    text-align: center;
    align-items: center;
    justify-content: center;
    right: 50px;
 }
 
 .work-info {
 
    display: flex;
    width: 1080px;
    height: 177px;
    background-color: #7F0094;
    border-radius: 30px;
 }
 
 .logo-insta {
 
    width: 70px;
    height: 70px;
    display: flex;
    margin-top: 5%;
 }
 
 .cicle1 {
    width: 120px;
    height: 90px;
    display: inline-block;
    justify-content: space-around;
    align-items: right;
    margin-top: 20px;
    margin-left: 40px;
 }
 
 .name_space {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 25px;
 }
 
 .name_space h1 {
    font-family: 'JockeyOne';
    color: #e4a546;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow:
       -1px -1px 0 white,
       1px -1px 0 white,
       -1px 1px 0 white,
       1px 1px 0 white;
 }
 
 .cicle1 img {
    margin-left: 40px;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    display: flex;
 
 }
 
 .text-reserved {
    font-family: 'JockeyOne';
    font-size: 20px;
    color: #300138;
 }