    * {
    padding: 0;
    margin: 0;
    }

    body {
    width: 100%;
    height: 1920px;
    background-color: #B431B6;
    }

    /* fontes utilizadas no site */

    @font-face {
    font-family: 'JockeyOne';
    src: url('./fonts/JockeyOne-Regular.ttf') format('truetype');

    }

    @font-face {
    font-family: 'Jomhuria';
    src: url('./fonts/Jomhuria-Regular.ttf') format('truetype');

    }

 /* responsivo */

 @media screen and (max-width: 1080px) and (min-width: 1920px) {
    /* telas grandes */
 }

 @media screen and (max-width:1792px) and (min-width:828px) {
    /* telas pequenas */
 }

 /* fim do responsivo */

 /* inicio header logo e menu */

 .container-menu {

    width: 100%;

    height: 80px;

    background-image: linear-gradient(#E54AE8, transparent);

    display: flex;

    justify-content: space-between;
    
    align-items: center;

    flex-wrap: wrap;

    }

    .container-menu img {

    display: flex;

    width: 177px;

    height: 63px;

    margin-left: 20px;

    }

    .container-menu ul {

    display: flex;

    list-style: none;

    flex-wrap: wrap;

    }

    .container-menu ul li a {
    
    display: block;
    
    text-decoration: none;
    font-weight: bold;
     color: #FDF106;
     


}

.BANNER {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 75px;
    padding: 0 40px;
}

.Blog {

    position:absolute
    width: 81px;

    height: 25px;

    background-color: #EBD0AA;

    display: flex;

    border-radius: 30px;

    font-family: 'JockeyOne';

    justify-content: center;

    align-items: center;

    margin: -14px 0 0 50%;

    }

<<<<<<< HEAD
.animais_disponiveis {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 25px;
    
}


.cards_animais_disponiveis { 
    display: inline-flex;
    flex-direction:column;
    align-items:center;
    color: white;
    font-size: 28px;
    background-color: #E54AE8;
    width: 400px;
    height: 210px;
    border-radius:30px ;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
=======
    .class-blog-space p {
    
    margin: 4px 10px 5px 5px;
    }
>>>>>>> 93404045a15d831fbb87bb7839f1d7d3ae6166d5
